.gif-card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.gif-card-image {
	position: relative;
}

.gif-card-image > img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    border: 0;
}

.gif-card-content {
	padding: 20px;
    border-radius: 0 0 2px 2px;
}

.gif-card-content > * {
	margin: 0;
    color: inherit;
}